In [5]:
n = 0

for i in range (0,10):
    n += 1
    print(n , end = ' ')

1 2 3 4 5 6 7 8 9 10

In [8]:
for i in range (2 , 51):
    if i % 2 == 0:
        print(i , end = ' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [13]:
for i in range (0,11):
   print (i, "is Squared" , i**2)

0 is Squared 0
1 is Squared 1
2 is Squared 4
3 is Squared 9
4 is Squared 16
5 is Squared 25
6 is Squared 36
7 is Squared 49
8 is Squared 64
9 is Squared 81
10 is Squared 100

In [17]:
Names = [ "Ram" , "Shyam" , "Radha" , "Mohan"]

for name in Names:
    print(name.upper())

RAM
SHYAM
RADHA
MOHAN

In [18]:
n = 7

for i in range (1,11):
    print (f"{n} * {i} = {n*i}")

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [22]:
Numbers = [12, 45, 23, 67, 89, 34]

for num in Numbers:
    if num> 40:
        print(num)

45
67
89

In [23]:
text = "programming"
vowels = "aeiou"
count = 0

for char in text:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Number of vowels: 3

In [1]:
Marks = {"Maths": 90 , "Science" : 85 , "English" : 88}

for subject, mark in Marks.items():
    print(f"{subject}: {mark}")

Maths: 90
Science: 85
English: 88

In [ ]:
Numbers = int(input("Enter a number: "))
Num_Str = str(Numbers)
Sum = 0

for digit in Num_Str:
    Sum = Sum + int(digit)
    print

Sum of digits: 20

In [ ]:
Tuple = (10, 20, 30, 40, 50)

for i in range(len(Tuple)-1, -1, -1):
    print(Tuple[i], end=' ')

50 40 30 20 10

In [1]:
for i in range(1, 6):   
    print(f"Multiplication Table of {i}:")
    for j in range(1, 11): 
        print(f"{i} x {j} = {i * j}")

Multiplication Table of 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
Multiplication Table of 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Multiplication Table of 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Multiplication Table of 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Multiplication Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [2]:
for row in range(5):
    if row == 0 or row == 2 or row == 4:   
        print("*****")
    elif row == 1: 
        print("*")
    elif row == 3:  
        print("    *")

*****
*
*****
    *
*****

In [7]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i * j, end="\t")
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [11]:
for num in range(10, 51): 
    if num > 1:  
        for i in range(2, num):   
            if num % i == 0:      
                break
        else:
            print(num)

11
13
17
19
23
29
31
37
41
43
47

In [12]:
Number = int(input("Enter a number: "))
Factorial = 1
for i in range(1, Number + 1):
    Factorial *= i

print(f"The factorial of {Number} is {Factorial}")

The factorial of 5 is 120

In [16]:
a , b = 0 , 1
for i in range (1,50):
    if a > 50:
        break
    print(a , end = ' ')
    a , b = b , a + b

0 1 1 2 3 5 8 13 21 34

In [17]:
words = ["apple", "banana", "mango", "grapes"]

max_word = ""      
max_length = 0     

for word in words:
    if len(word) > max_length:
        max_length = len(word)
        max_word = word

print(f"The longest word is '{max_word}' with length {max_length}")

The longest word is 'banana' with length 6

In [21]:
s = input("Enter a string: ")
reversed_s = ""

for i in s:
    reversed_s = i + reversed_s   

print("Reversed string:", reversed_s)

Reversed string: hsuraa

In [22]:
n = 10
total = 0

for i in range(1, n + 1):
    total += i ** 2   

print(f"Sum of squares from 1^2 to {n}^2 is {total}")

Sum of squares from 1^2 to 10^2 is 385

In [23]:
nested_list = [[1, 2], [3, 4], [5]]
flat_list = []

for sublist in nested_list:
    for item in sublist:
        flat_list.append(item)

print("Flattened list:", flat_list)

Flattened list: [1, 2, 3, 4, 5]